[general]
user_token = usertok
archive_dir = /var/lib/jim/archives

[db]
backend = postgres
host = localhost
name = jim
username = jim
password = jim

[minecraft]
pkgname = spigot
unit = spigot.service
address = mc.fungineers.net

[alpha]
app_id = id

[alpm]
rootdir = /
dbdir = /var/lib/pacman